/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body{
  height: 100%;
}

.header {
  text-indent: 10px;
  border-bottom: 1px gray dot-dash;
}

/*any size below 550ox will be one 100% width */
[class*='col-']{
  width: 100%;
  padding: 5px;
  float: left;
}

.bookDetail{
  text-align: center;
  font-style: italic;
}

.bookDetailLower{
  color: gray;
}

.bookImage{
  text-align: center;
}

.hrHeader{
  border-top: 1px dotted gray;
}

.hrFilter{
  border-top: 1px gray;
}

a{
  color:red;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

@media only screen and (min-width: 550px){
  .col-sx-1 {width: 8.33% }
  .col-sx-2 {width: 16.66% }
  .col-sx-3 {width: 25% }
  .col-sx-4 {width: 33.33% }
  .col-sx-5 {width: 41.66% }
  .col-sx-6 {width: 50% }
  .col-sx-7 {width: 58.33% }
  .col-sx-8 {width: 66.66% }
  .col-sx-9 {width: 75% }
  .col-sx-10 {width: 83.33% }
  .col-sx-11 {width: 91.66% }
  .col-sx-12 {width: 100.00% }
}

@media only screen and (min-width: 760px){
  .col-s-1 {width: 8.33% }
  .col-s-2 {width: 16.66% }
  .col-s-3 {width: 25% }
  .col-s-4 {width: 33.33% }
  .col-s-5 {width: 41.66% }
  .col-s-6 {width: 50% }
  .col-s-7 {width: 58.33% }
  .col-s-8 {width: 66.66% }
  .col-s-9 {width: 75% }
  .col-s-10 {width: 83.33% }
  .col-s-11 {width: 91.66% }
  .col-s-12 {width: 100.00% }
}

@media only screen and (min-width: 1024px){
  .col-m-1 {width: 8.33% }
  .col-m-2 {width: 16.66% }
  .col-m-3 {width: 25% }
  .col-m-4 {width: 33.33% }
  .col-m-5 {width: 41.66% }
  .col-m-6 {width: 50% }
  .col-m-7 {width: 58.33% }
  .col-m-8 {width: 66.66% }
  .col-m-9 {width: 75% }
  .col-m-10 {width: 83.33% }
  .col-m-11 {width: 91.66% }
  .col-m-12 {width: 100.00% }
}

@media only screen and (min-width: 1680px){
  .col-l-1 {width: 8.33% }
  .col-l-2 {width: 16.66% }
  .col-l-3 {width: 25% }
  .col-l-4 {width: 33.33% }
  .col-l-5 {width: 41.66% }
  .col-l-6 {width: 50% }
  .col-l-7 {width: 58.33% }
  .col-l-8 {width: 66.66% }
  .col-l-9 {width: 75% }
  .col-l-10 {width: 83.33% }
  .col-l-11 {width: 91.66% }
  .col-l-12 {width: 100.00% }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
